@CHARSET "UTF-8";

body {
	background-color: #f4f6f8;
	margin: 0px;
	padding: 0px;
	font-size: 0.75em;
	line-height: 1.2em;
	color: #333;
	overflow-x: hidden;
	overflow-y: auto;
} 

#wrap {
	width: 1350px;
	text-align: left;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	min-height: 780px;
	background-repeat: repeat-y;
} 

#login {
	float: right;
	/* margin: 20px 500px 0 0; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing: 5px;
	position: relative;
    top: 30px;
    right: 150px;
}

#login a {
	text-decoration: none;
	color: #333
}

#login a:hover {
	color: #F90
}

.clear {
	clear: both;
}
 
#logo {
	float: left;
	width: 265px;
	margin-top: 32px;
}

header {
	width: 100%;
	min-width: 930px;
	height: 151px;
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	
}

div#top_menu {
	width: 600px;
	float: right;
	position: relative;
    left: 130px;
    top: 60px;
}

div#top_menu ul {
	list-style: none;
	font-family: verdana, Geneba, sans-serif;
	font-size: 13px;
	font-weight: 100;
	color: #333
}

div#top_menu li {
	float: left;
	margin: 0 5px;
}

div#top_menu a {
	display: block;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color: #333
}

div#top_menu a:hover {
	background-image: url("../images/blue.gif");
	background-repeat: repeat-x;
	background-position: bottom;
}

@font-face {
	font-family: "seo";
	src: url("../images/segoeui.eot");
	src: local(""), url("../images/segoeui.woff") format("woff"),
		url("../images/segoeui.ttf") format("truetype");
}

footer {
	margin: 50px 0 0 0;
	width: 100%;
	height: 80px;
	background-image: url("../images/under_logo.gif");
	background-repeat: no-repeat;
	background-position: 40px center;
	background-color: #FFF;
}

footer hr {
	width: 900px;
	margin: 0 0 0 20px
}

footer #copy {
	font-family: seo;
	width: 450px;
	margin: 20px 0 0 190px;
	float: left;
}

footer #social {
	width: 130px;
	margin: 20px 20px 0 0;
	float: right;
}

footer #social img {
	margin: 0 7px
} 

td a:link {
	text-decoration: none;
}

/* -- 추가한 css -- */

#header_shadow {
	box-shadow: 0 -4px 8px 0 rgb(0 0 0 / 5%);
	border: solid 1px rgba(220,224,230,0.8);
}

#footer_shadow {
	box-shadow: 0 -4px 8px 0 rgb(0 0 0 / 5%);
	border: solid 1px rgba(220,224,230,0.8);
}

#header_wrap {
	width: 1300px;
    margin: 0 auto;
    height: 151px;	
}

.main_box {
	float: left;
	border-radius: 10px;
	margin: 20px 0 20px 20px;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
	border: solid 1px rgba(220,224,230,0.8);
}

.board_box {
	border-radius: 10px;
	margin: 20px 0 20px 20px;
	padding: 40px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
	border: solid 1px rgba(220,224,230,0.8);
}


.issue_box {
	width: 930px;
	min-height: 508px;
	height: auto;
}

.issue_box_title {
    width: auto;
    height: 50px;
}

.issue_box_content {
	width: auto;
    height: 130px;
    margin-top: 10px;
}

.weather_box {
	width: 300px;
	height: 300px !important;
}

.writer {
	width: 650px;
	height: 20px;
	margin: 5px;
	font-size: 1rem;
	background-color: #CCC;
	text-align: left;
	padding: 10px;
}

.content {
	width: 650px;
	min-height: 400px;
	margin: 5px;
	font-size: 1rem;
	padding: 10px;
	padding-left: 15px;
    padding-top: 30px;
    text-align: left;
}

.readcount_date {
	width: 650px;
	height: 20px;
	margin: 5px;
}

.tmp {
	width: 280px;
	font-size: 3rem;
	text-align: center;
	padding-top: 40px;
	font-weight: bold;
	margin: 0 auto;
}

.tmx_tmn {
	width: 290px;
	height: 10px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}

.rain {
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
}

.red {
	color: #ff2c2c;
	font-weight: bold;
}

.blue {
	color: #5998ff;
	font-weight: bold;
}

.weather_head {
	position: relative;
	font-size: 2em;
	font-weight: bold;
	padding: 10px 10px 10px 0;
	top: 8px;

}

.weather_box>hr {
	margin-top: 20px;
}

.weather_box>h3 {
	margin: 0 auto;
    padding: 65px;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
}

.grey {
	color: grey;
}

.weather_img {
	position: relative;
	top: 5px;
	left: 7px
}



